* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__month-container,
.react-datepicker__header {
  background-color: #374151 !important;
}
.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day {
  color: #fff !important;
  font-size: 14px;
}
.react-datepicker__day:hover {
  color: #1d2735 !important;
}
.react-datepicker__day--selected {
  background-color: #1d2735 !important;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #374151;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

/* Loader */
/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: linear-gradient(90deg, #000 50%, #0000 0) right/200% 100%;
  animation: l21 2s infinite linear;
}
.loader::before {
  content: 'Yuklanmoqda...';
  color: #fff;
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(90deg, #fff 50%, #000 0);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l21 {
  100% {
    background-position: left;
  }
}
